
		
		<div id="header">
		<h1>I Will <span class="goal"><%= @goal %></span> Every Day.</h1>
		</div>
		
		<table id="calendar">
			<tr>
				<td class="month">Jan</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Feb</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
			</tr>
				<td class="month">Mar</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Apr</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
			</tr>
				<td class="month">May</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Jun</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
			</tr>
				<td class="month">Jul</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Aug</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Sep</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
			</tr>
				<td class="month">Oct</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
				<td class="month">Nov</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
			</tr>
				<td class="month">Dec</td>
				<td class="day">1</td>
				<td class="day">2</td>
				<td class="day">3</td>
				<td class="day">4</td>
				<td class="day">5</td>
				<td class="day">6</td>
				<td class="day">7</td>
				<td class="day">8</td>
				<td class="day">9</td>
				<td class="day">10</td>
				<td class="day">11</td>
				<td class="day">12</td>
				<td class="day">13</td>
				<td class="day">14</td>
				<td class="day">15</td>
				<td class="day">16</td>
				<td class="day">17</td>
				<td class="day">18</td>
				<td class="day">19</td>
				<td class="day">20</td>
				<td class="day">21</td>
				<td class="day">22</td>
				<td class="day">23</td>
				<td class="day">24</td>
				<td class="day">25</td>
				<td class="day">26</td>
				<td class="day">27</td>
				<td class="day">28</td>
				<td class="day">29</td>
				<td class="day">30</td>
				<td class="day">31</td>
			</tr>
			
		</table>
	
