<h1>Track Your Progress</h1>

<h2>- With the Seinfeld Calendar -</h2>

<p id="tip">When Jerry Seinfeld was still a no-name standup, he knew the only way to get better was to write every day. He didn't want to be stuck in mediocrity all his life, but the man was human, and it's hard to stay motivated 100% of the time. So Jerry hacked a simple solution... <span id="read_more">Read More &raquo;</span></p>
<p id="more_story"> That magnificent man put a big calendar on the wall that shows the whole year on one page, and mark an "x" through every day he sat and wrote comedy. Daily practice is what separates the boys from the men, so to speak. But for us moderns the thought of paper is sometimes repulsive. So I coded-up this simple app to give you your very own Seinfeld Calendar. Put it as your homepage, and each night return to your home with the day proudly marked off, filled with your own red badge of courage. If you're faithful to your calendar, it will be faithful to you, and fill your spirit with the greatest gift known to man - motivation.</p>


<div class="signup_div"><a id="signup" href="#signup_form">Get Your Seinfeld Calendar &raquo;</a></div>
<img src="/img/screenshot.png" alt="screenshot" id="screenshot">

<div style="display: none;">
	<div id="signup_form">
		<form id="signup" method="post" action="/calendar">
			<h2>What will you do?</h2>
			<h3>I will <input type="text" name="goal" value="(type your goal here)" id="goal"> every day.</h3>
			<center><input type="submit" name="submit" value="Let's Get Started &rarr;" id="submit"></center>
		</form>
	</div>
</div>