<h1>Track Your Progress</h1>

<h2><a id="lifehacker" href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">- With the Seinfeld Calendar -</a></h2>

<p id="tip">Not sure what a Seinfeld calendar is? It's pretty sweet. Just click above for a handy explanation.</p>

<a id="signup" href="#signup_form">
	<img src="/img/screenshot.png" alt="screenshot" id="screenshot">
</a>

<div style="display: none;">
	<div id="signup_form">
		<form id="signup" method="post" action="/calendar">
			<h3>I will <input type="text" name="goal" value="" id="goal"> every day.</h3>
			<center><input type="submit" name="submit" value="Let's Get Started &rarr;" id="submit"></center>
		</form>
	</div>
</div>