<form method="POST" action="/user/create">
	<label for="name">Your Name</label><input type="text" name="name" value="" id="name">
	<input type="submit" name="submit" value="Submit" id="submit">
</form>