<h1>Good Decision!</h1>
<p>You're well on your way to becoming a better human being. Just let us know a bit about yourself, and you'll be all set up with an awesome Seinfeld Calendar.</p>

<div id="signup">
  <form id="signup_form" method="link" action="/calendar">
    <h3><span class="stepnum">1</span> Your Goal: </h3>
      <h4>I will <input type="text" name="goal" value="(type your goal here)" id="goal"> every day.</h4>
    <h3><span class="stepnum">2</span> Your Info: </h3>
  	  <h4>My E-Mail Address is: <input type="text" name="email" id="email">.</h4>
  	  <h4>And my password shall be: <input type="password" name="password">.</h4>
  	<h3><span class="stepnum">3</span> You're Done: </h3>
  	<button id="submit">Submit &raquo;</button>
  </form>
</div>