div.container {
	width: 960px;
	margin: 0 auto 0 auto;
}

h1 {
	text-align: center;
	font: 100px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 3px 0px 0px #ccc;
	margin: 20px 0 0 0;
}

h2 {
	text-align: center;
	font: italic 40px League Gothic;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font: italic 40px League Gothic;
	text-decoration: none;
	color: #aaa;
}

h2 a:hover {
	text-decoration: underline;
}

p {
	font: 15px Helvetica, Arial, sans-serif;
	text-align: left;
	position: relative;
	bottom: 20px;
	color: #444;
	width: 630px;
	margin: 0 auto 10px auto;
}

span#read_more, span#readless {
	font: 11px Helvetica;
	text-decoration: underline;
	color: #888;
	padding: 2px 4px 2px 4px;
	border-radius: 5px;
	cursor: pointer;
}

span#read_more:hover {
	background-color: #888;
	color: #fff;
}

p#more_story {
	display: none;
}

p#read_more {
	text-align: center;
}

p#instructions {
	position: relative;
	top: 25px;
	text-align: center;
	background-color: #fff;
	color: #af0d0f;
	border-radius: 5px;
	width: 300px;
}

a.signup_button {
	text-align: center;
	padding: 4px 8px 4px 8px;
	background-color: #af0d0f;
	color: #fff;
	font: bold 17px Helvetica;
	text-decoration: none;
	border-radius: 10px;
}

div.centered {
  margin: 0 auto 25px auto;
  width: 250px;
}

a.signup_button:hover {
	background-color: #ed1315;
	cursor: pointer;
}

img#screenshot {
	width: 100%;
	margin: 0 0 0 0;
}

/* -=-=-=-=-=-=-=-=- Signup View Styles -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#signup {
  text-align: left;
  width: 700px;
  background-color: #ddd;
  margin: 0 auto 0 auto;
}

#signup_form {
	padding: 20px;
}

span.stepnum {
  background-color: #444;
  color: #fff;
  text-shadow: none;
  padding: 10px 10px 3px 9px;
  font-size: 25px;
  position: relative;
  bottom: 7px;
  -webkit-border-radius: 20px;
}

h3 {
	font: 45px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 3px 0px 0px #ccc;
	margin-top: 20px;
}

h4 {
  font: 20px Helvetica, arial, sans-serif;
  color: #444;
  position: relative;
  left: 50px;
  margin-bottom: 10px;
}

#signup input[type="text"], input[type="password"] {
  width: 250px;
  height: 20px;
  border: 2px solid #444;
}

#signup input:focus {
  border: 2px solid #ed1315;
}

button#submit {
  position: relative;
  left: 50px;
}

button#submit:hover {

}

/* -=-=-=-=-=-=-=- Calendar View Styles -=-=-=-=-=-=-=-=-=-=- */

span.goal {
	border: none;
	border-bottom: 3px solid #444;
	font: 55px League Gothic;
	text-shadow: none;
	text-transform: uppercase;
	color: #af0d0f;
	width: 458px;
	position: relative;
	bottom: 20px;
}

table {
	margin: 0 auto 0 auto;
}

tr {
	height: 40px;
}

td.month {
	font: 20px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 1px 0px 0px #ccc;
	width: 75px;
}

td.day {
	font: 18px League Gothic;
	width: 20px;
	padding: 2px;
	height: 15px;
}

td.done {
	background-color: #af0d0f;
	color: #fff;
}

td.day:hover {
	background-color: #ccc;
}




