div.container {
	width: 960px;
	margin: 0 auto 0 auto;
}

h1 {
	text-align: center;
	font: 100px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 3px 0px 0px #ccc;
	margin: 20px 0 0 0;
}

h2 {
	text-align: center;
	font: italic 40px League Gothic;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font: italic 40px League Gothic;
	text-decoration: none;
	color: #aaa;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	text-align: center;
	font: 70px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 3px 0px 0px #ccc;
}

p {
	font: 15px Helvetica, Arial, sans-serif;
	text-align: left;
	position: relative;
	bottom: 20px;
	color: #444;
	width: 630px;
	margin: 0 auto 10px auto;
}

span#read_more, span#readless {
	font: 11px Helvetica;
	text-decoration: none;
	background-color: #aaa;
	color: #fff;
	padding: 2px 4px 2px 4px;
	border-radius: 5px;
	cursor: pointer;
}

span#read_more:hover, span#read_less:hover {
	background-color: #888;
}

p#more_story {
	display: none;
}

p.center {
	
}

p#instructions {
	position: relative;
	top: 25px;
	text-align: center;
	background-color: #fff;
	color: #af0d0f;
	border-radius: 5px;
	width: 300px;
}

div.signup_div {
	width: 250px;
	margin: 0 auto 0 auto;
}

a#signup {
	text-align: center;
	height: 40px;
	padding: 4px 8px 4px 8px;
	background-color: #af0d0f;
	color: #fff;
	font: bold 17px Helvetica;
	text-decoration: none;
	border-radius: 10px;
}

a#signup:hover {
	background-color: #ed1315
}

img#screenshot {
	width: 100%;
	margin: 0 0 0 0;
}

#signup_form {
	padding: 20px;
}

input#goal {
		border: 3px solid #444;
		font: 30px League Gothic;
		text-shadow: none;
		text-transform: uppercase;
		color: #af0d0f;
		width: 358px;
		height: 40px;
		position: relative;
		bottom: 20px;
}

span.goal {
	border: none;
	border-bottom: 3px solid #444;
	font: 55px League Gothic;
	text-shadow: none;
	text-transform: uppercase;
	color: #af0d0f;
	width: 458px;
	position: relative;
	bottom: 20px;
}

button#submit {
	background-color: #aaa;
	height: 60px;
	color: #fff;
	font: 25px League Gothic;
	text-transform: uppercase;
	border: none;
	-webkit-border-radius: 5px;
	cursor: pointer;
	position: relative;
	bottom: 20px;
}

button#submit:hover {
	background-color: #af0d0f;
	color: #fff;
}

table {
	margin: 0 auto 0 auto;
}

tr {
	height: 40px;
}

td.month {
	font: 20px League Gothic;
	color: #444;
	text-transform: uppercase;
	text-shadow: 1px 0px 0px #ccc;
	width: 75px;
}

td.day {
	font: 18px League Gothic;
	width: 20px;
	padding: 2px;
	height: 15px;
}

td.done {
	background-color: #af0d0f;
	color: #fff;
}

td.day:hover {
	background-color: #ccc;
}




